<h3>{{name}} says:</h3>

{{> say-form}}
{{> help}}

<script type="text/javascript">
  function loadScript(script) {
    var element = document.createElement('script');
    element.src = '/assets/' + script;
    document.body.appendChild(element);
  }
  
  function loadScripts() {
    {{#each additionalScripts}}
      loadScript('{{this}}');
    {{/each}}
  }

  window.addEventListener('load', loadScripts, false);
</script>
