<form method="post" action="{{route}}">
  <label for="to">to: </label>
  <input type="text" name="to" id="to" /><br />
  <label for="message">message: </label><br />
  <textarea name="message" id="message" rows="10" cols="50">{{defaultMessage}}</textarea><br />
  <input type="submit" value="Say">
</form>
